<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance.</h1>
      <legend>Affichage Extra Large (XL) - Ubuntu Light - 3 rem - int. 1.15</legend>
      <hr />
      <br />
      <h2>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance.</h2>
      <legend>Affichage Large (L) : Ubuntu Light - 2 rem - int. 1.25</legend>
      <hr />
      <br />
      <h3>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance.</h3>
      <legend>Affichage Regular (R) : Ubuntu Light - 1.5 rem - int. 1.4</legend>
      <hr />
      <br />
    </div>
    <div class="col-12 col-md-6">
      <h4>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance.</h4>
      <legend>Affichage Small (S) + Strong : Ubuntu Medium - 1.25 rem - int. 1.5</legend>
      <hr />
      <br />
      <h5>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance.</h5>
      <legend>Titre + Strong : Ubuntu Medium - 1 rem - int. 1.5</legend>
      <hr />
      <br />
      <h6>Le compteur communicant, Linky, est une nouvelle génération de compteur</h6>
      <legend>Sous-titre + Strong : Ubuntu Medium - capitalisé - 0.875 rem - int. 1.5</legend>
      <hr />
      <br />
      <p>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance. Linky répond au besoin de modernisation des réseaux d’électricité
        en France. Pour maintenir notre niveau d’exigence, nous remplaçons un matériel devenu obsolète et qui, dans
        certains cas, peut avoir été installé il y a plus de 40 ans.</p>
      <legend>Body - Ubuntu Light - 1 rem - int. 1.5</legend>
      <hr />
      <br />
      <legend>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de
        consommation et reçoit des ordres à distance. Linky répond au besoin de modernisation des réseaux d’électricité
        en France. Pour maintenir notre niveau d’exigence, nous remplaçons un matériel devenu obsolète et qui, dans
        certains cas, peut avoir été installé il y a plus de 40 ans.</legend>
      <legend>Légende - Ubuntu Light - 0.75 rem - int. 1.5</legend>
    </div>
  </div>
</div>