<app-secondary-navbars></app-secondary-navbars>
<div class="container">
  <h2>Bienvenue sur le Squelette Angular d'Enedis en Bretagne.</h2>
  <p>
    Cette application a pour but de fournir un maximum de ressources pour le développement Angular, via divers écrans
    comme des tableaux de bord.
    <br />
    L'utilité est de pouvoir réutiliser le code présent au sein du squelette.
    Il est parfois fourni au sein même de l'application, il n'y a qu'à le copier coller dans votre propre projet.
  </p>
  <p>
    Ce squelette d'application a été développé par l'équipe de développement de l'Enedis Lab de la DR Bretagne sous
    Angular. Il suit le plus fidèlement possible la nouvelle charte graphique.
  </p>
  <div class="row">
    <div class="col"><app-core-rgpd color="prune"></app-core-rgpd></div>
    <div class="col-4" [mustBeDisconnectedToDisplay]="true"><app-core-granters color="vert_enedis"></app-core-granters></div>
  </div>
</div>