<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h5>Information - priorité basse</h5>
      <div class="alert alert-secondary" role="alert">
          <h4 class="alert-heading">Simulation en cours</h4>
          <p>Votre simulation est en cours, elle est estimée à x minutes. Vous pouvez quitter la page et revenir consulter les résultats plus tard ou commencer une autre simulation.</p>
          <hr>
          <button type="button" class="btn-sm btn-primary">
              Patienter
          </button>
          <button type="button" class="btn-sm btn-secondary">
              Quitter
        </button>
      </div>
      <hr />
    </div>
    <div class="col-12 col-md-6">
      <h5>Information - priorité moyenne</h5>
      <div class="alert alert-warning" role="alert">
          Raison de l’erreur et/ou conseils avec <a href="javascript:alert('&lt;a class=\'alert-link\' href=\' \'&gt;&lt;/a&gt;')" class="alert-link">un lien</a>
      </div>
      <hr />
      <h5>Confirmation / validation - priorité moyenne</h5>
      <div class="alert alert-success" role="alert">
          Raison de l’erreur et/ou conseils
      </div>
      <hr />
      <h5>Erreur - priorité moyenne</h5>
      <div class="alert alert-danger" role="alert">
          Raison de l’erreur et/ou conseils
      </div>
    </div>
  </div>
</div>
