.rgpdContainer {
    background-color: var(--marron_200);
    border-radius: 15px;
    padding: 15px;
}

.rgpdContainer h3 {
    display: block;
    color: var(--marron_500);
    margin-bottom:15px;
}

.rgpd {
    display: inline-block;
    width: 100%;
}