<div [requiredPermissionToDisplay]="['HABILITATIONS','HTA_CREATE']">
  <div class="container">
    <p>Le compteur communicant, Linky, est une nouvelle génération de compteur. Il transmet des données de consommation et reçoit des ordres à distance. Linky répond au besoin de modernisation des réseaux d’électricité en France. Pour maintenir notre niveau d’exigence, nous remplaçons un matériel devenu obsolète et qui, dans certains cas, peut avoir été installé il y a plus de 40 ans.</p>
    <br />
    <app-etapes [liste]="liste"></app-etapes>
    <hr />
    <div  style="min-height:500px !important;">
      <tabset class="steps" [justified]="true">
        <tab heading="01"><h2 class="text-primary">Ma demande</h2>Pour m’aider dans mes démarches, je suis les conseils en ligne selon mon profil :
          <ul>
            <li>Particulier</li>
            <li>Entreprise</li>
            <li>Collectivité locale</li>
            <li>Professionnel du batiment</li>
          </ul>
        puis :
          <ul>
            <li>Je complète les informations nécessaires (puissance souhaitée, date à laquelle je souhaite disposer de l’électricité…)</li>
            <li>Je transmets les différents documents (autorisation d’urbanisme, plans…)</li>
            <li>J’envoie ma demande</li>
          </ul></tab>
        <tab heading="02"><h2 class="text-primary">Ma proposition</h2><p>Mon dossier est étudié.</p>
          <p>Je reçois ensuite une proposition de raccordement composée d’un devis et d’un descriptif technique des travaux à réaliser.</p>
          <p>Il me suffit de renvoyer le devis signé et de payer l’acompte demandé (par carte bancaire ou chèque).</p></tab>
          <tab heading="03"><h2 class="text-primary">Mes travaux</h2><p>Les travaux de raccordement sont programmés.</p>
            <p>Le délai de réalisation des travaux varie selon celui d’obtention des autorisations administratives
            et de la nécessité éventuelle d’une extension de réseau.</p>
            <p>Il est nécessaire que mes travaux soient terminés avant toute intervention</p></tab>
          <tab heading="04"><h2 class="text-primary">Ma mise en service</h2><p>Une fois les travaux effectués par nos techniciens :<p>
            <ul>
              <li>J’obtiens une attestation de conformité de mon installation appelé
              « <a href="http://www.consuel.com/" target="_blank">Consuel</a> »
              que transmettrai au technicien le jour de la mise en service</li>
              <li>Je règle le solde du devis</li>
              <li>Je choisis un <a href="http://www.energie-info.fr/" target="_blank">fournisseur et lui demande la mise en service</a></li>
              <li>Mon  fournisseur transmet à Enedis ma demande</li>
              <li>Sous 10 jours maximum, la mise en service peut avoir lieu</li>
            </ul></tab>
      </tabset>
    </div>
    <div  style="min-height:430px !important;">
      <tabset class="steps lined" [justified]="true">
        <tab heading="Ma demande">Pour m’aider dans mes démarches, je suis les conseils en ligne selon mon profil :
          <ul>
            <li>Particulier</li>
            <li>Entreprise</li>
            <li>Collectivité locale</li>
            <li>Professionnel du batiment</li>
          </ul>
        puis :
          <ul>
            <li>Je complète les informations nécessaires (puissance souhaitée, date à laquelle je souhaite disposer de l’électricité…)</li>
            <li>Je transmets les différents documents (autorisation d’urbanisme, plans…)</li>
            <li>J’envoie ma demande</li>
          </ul></tab>
        <tab heading="Ma proposition"><p>Mon dossier est étudié.</p>
          <p>Je reçois ensuite une proposition de raccordement composée d’un devis et d’un descriptif technique des travaux à réaliser.</p>
          <p>Il me suffit de renvoyer le devis signé et de payer l’acompte demandé (par carte bancaire ou chèque).</p>
        </tab>
        <tab heading="Mes travaux"><p>Les travaux de raccordement sont programmés.</p>
          <p>Le délai de réalisation des travaux varie selon celui d’obtention des autorisations administratives
          et de la nécessité éventuelle d’une extension de réseau.</p>
          <p>Il est nécessaire que mes travaux soient terminés avant toute intervention</p>
        </tab>
        <tab heading="Ma mise en service"><p>Une fois les travaux effectués par nos techniciens :<p>
          <ul>
            <li>J’obtiens une attestation de conformité de mon installation appelé
            « <a href="http://www.consuel.com/" target="_blank">Consuel</a> »
            que transmettrai au technicien le jour de la mise en service</li>
            <li>Je règle le solde du devis</li>
            <li>Je choisis un <a href="http://www.energie-info.fr/" target="_blank">fournisseur et lui demande la mise en service</a></li>
            <li>Mon  fournisseur transmet à Enedis ma demande</li>
            <li>Sous 10 jours maximum, la mise en service peut avoir lieu</li>
          </ul>
        </tab>
      </tabset>
    </div>
  </div>
</div>