<div class="container">
  <h3>Tabs basiques</h3>
  <div>
      <tabset>
        <tab heading="Onglet 1" style="border: solid;">Contenu basique 1</tab>
        <tab heading="Onglet 2" style="border: solid;">Contenu basique 2</tab>
        <tab heading="Onglet 3" style="border: solid;">Contenu basique 3</tab>
      </tabset>
  </div>

  <hr/>

  <h3>Tabs verticaux</h3>

  <div>
      <tabset [vertical]="true">
        <tab heading="Onglet 1" style="border: solid;">Contenu vertical 1</tab>
        <tab heading="Onglet 2" style="border: solid;">Contenu vertical 2</tab>
        <tab heading="Onglet 3" style="border: solid;">Contenu vertical 3</tab>
      </tabset>
  </div>

  <hr/>

  <h3>Tabs justifiés</h3>

  <div>
      <tabset [justified]="true">
        <tab heading="Onglet 1" style="border: solid;">Contenu 1</tab>
        <tab heading="Onglet 2" style="border: solid;">Contenu 2</tab>
        <tab heading="Onglet 3" style="border: solid;">Contenu 3</tab>
      </tabset>
  </div>

  <hr />

  <h3>Exemples</h3>

  <p>Tous les exemples peuvent être vus <a href="https://valor-software.com/ngx-bootstrap/#/tabs" target="_blank">ici</a>.</p>

</div>